@model RCP.Model.Cars

@{
    ViewBag.Title = "CarDelete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Araba Silme Ekranı</h2>

<h3>@Model.Brand - @Model.Model Bu Kayıtlı Araba Silinecek </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sherry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sherry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginePower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Waranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Geri Dön", "CarList")
        </div>
    }
</div>
