@using RCP.UI.ViewModel
@model IEnumerable<AdvertViewModel>
@{
    ViewBag.Title = "Arabalar";
}


<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Cars</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<!--== Choose Car Area Start ==-->
<section id="choose-car" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Mevcut Olan İlanlar</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- Choose Area Content Start -->
            <div class="col-lg-12">
                <div class="choose-ur-cars">
                    <div class="row">
                        <div class="col-lg-3">
                            <!-- Choose Filtering Menu Start -->
                            <div class="home2-car-filter">
                                <a href="#" data-filter=".con">Kiralık</a>
                                <a href="#" data-filter=".hat">Açık Arttırmada</a>
                            </div>
                            <!-- Choose Filtering Menu End -->
                        </div>

                        <div class="col-lg-9">
                            <!-- Choose Cars Content-wrap -->
                            <div class="row popular-car-gird">
                                @foreach (var item in Model)
                                {

                                    if (item.Adverts.AdvertStatus)
                                    {
                                        <!-- Single Popular Car Start -->
                                        <div class="col-lg-6 col-md-6 con">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a class="car-hover" href="/IlanDetayi/@item.Adverts.Id">
                                                        <img src="@item.Photo" alt="JSOFT">
                                                    </a>
                                                </div>

                                                <div class="p-car-content">
                                                    <h3>
                                                        <a href="#"> @item.Carss.Brand </a>
                                                        <span class="price"><i class="fa fa-tag"></i>Günlük  : @item.Carss.Price TL/ @item.Adverts.StartDate.Day.@item.Adverts.StartDate.Month
                                                        </span>
                                                    </h3>

                                                    <h5>@item.Carss.CaseType</h5>

                                                    <div class="p-car-feature">
                                                        <a href="#">@item.Carss.Year</a>
                                                        <a href="#">@item.Carss.Gear</a>
                                                        <a href="#">@item.Carss.Model</a>
                                                        <a href="#">@item.Carss.Km</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Popular Car End -->
                                    }
                                    else
                                    {

                                        <!-- Single Popular Car Start -->
                                        <div class="col-lg-6 col-md-6 hat">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a class="car-hover" href="/IlanDetayi/@item.Adverts.Id">
                                                        <img src="@item.Photo" alt="JSOFT">
                                                    </a>
                                                </div>

                                                <div class="p-car-content">
                                                    <h3>
                                                        <a href="#">
                                                            @item.Carss.Brand</a>
                                                        <span class="price"><i class="fa fa-tag"></i>@item.Adverts.StartPrie </span>
                                                        <span class="price"><i class="fa fa-tag"></i>@item.Adverts.FinishDate </span>
                                                </h3>

                                                <h5>@item.Carss.CaseType</h5>

                                                <div class="p-car-feature">
                                                    <a href="#">@item.Carss.Year</a>
                                                    <a href="#">@item.Carss.Gear</a>
                                                    <a href="#">@item.Carss.Model</a>
                                                    <a href="#">@item.Carss.Km</a>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Popular Car End -->
                                    }

                                }

                            </div>
                            <!-- Choose Cars Content-wrap -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Choose Area Content End -->
        </div>
    </div>
</section>
<!--== Choose Car Area End ==-->
@*<!--== Car List Area Start ==-->
    <section id="car-list-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Car List Content Start -->
                <div class="col-lg-12">
                    <div class="car-list-content">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <!-- Single Car Start -->
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-car-wrap">
                                        <div class="car-list-thumb car-thumb-1"></div>
                                        <div class="car-list-info without-bar">
                                            <h2><a href="#">@item.Carss.Brand @item.Carss</a></h2>
                                            <h5>39$ Rent /per a day</h5>
                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean inorci luctus et ultrices posuere cubilia.</p>
                                            <ul class="car-info-list">
                                                <li>@item.Carss.Fuel</li>
                                                <li>@item.Carss.CaseType</li>
                                                <li>@item.Carss.Year</li>
                                                <li>@item.Carss.Engine</li>
                                                <li>@item.Carss.CaseType</li>
                                            </ul>
                                            <a href="/ArabaDetayi/@item.Id" class="rent-btn">Book It</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Car End -->
                            }

                            <!-- Single Car Start -->
                            <div class="col-lg-6 col-md-6">
                                <div class="single-car-wrap">
                                    <div class="car-list-thumb car-thumb-2"></div>
                                    <div class="car-list-info without-bar">
                                        <h2><a href="#">Aston Martin One-77</a></h2>
                                        <h5>39$ Rent /per a day</h5>
                                        <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean inorci luctus et ultrices posuere cubilia.</p>
                                        <ul class="car-info-list">
                                            <li>AC</li>
                                            <li>Diesel</li>
                                            <li>Auto</li>
                                        </ul>
                                        <p class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star unmark"></i>
                                        </p>
                                        <a href="#" class="rent-btn">Book It</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Car End -->
                            <!-- Single Car Start -->
                            <div class="col-lg-6 col-md-6">
                                <div class="single-car-wrap">
                                    <div class="car-list-thumb car-thumb-3"></div>
                                    <div class="car-list-info without-bar">
                                        <h2><a href="#">Aston Martin One-77</a></h2>
                                        <h5>39$ Rent /per a day</h5>
                                        <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean inorci luctus et ultrices posuere cubilia.</p>
                                        <ul class="car-info-list">
                                            <li>AC</li>
                                            <li>Diesel</li>
                                            <li>Auto</li>
                                        </ul>
                                        <p class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star unmark"></i>
                                        </p>
                                        <a href="#" class="rent-btn">Book It</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Car End -->
                            <!-- Single Car Start -->
                            <div class="col-lg-6 col-md-6">
                                <div class="single-car-wrap">
                                    <div class="car-list-thumb car-thumb-4"></div>
                                    <div class="car-list-info without-bar">
                                        <h2><a href="#">Aston Martin One-77</a></h2>
                                        <h5>39$ Rent /per a day</h5>
                                        <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean inorci luctus et ultrices posuere cubilia.</p>
                                        <ul class="car-info-list">
                                            <li>AC</li>
                                            <li>Diesel</li>
                                            <li>Auto</li>
                                        </ul>
                                        <p class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star unmark"></i>
                                        </p>
                                        <a href="#" class="rent-btn">Book It</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Car End -->
                        </div>
                    </div>

                    <!-- Page Pagination Start -->
                    <div class="page-pagi">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Page Pagination End -->
                </div>
                <!-- Car List Content End -->
            </div>
        </div>
    </section>
    <!--== Car List Area End ==-->*@
